{% layout 'splash' %}

<div id="splash-body">
  {% section 'main' %}
  {% section 'our-founder' %}
  <div class="body-bottom">
    {% section 'stockists' %}
    {% if settings.watermark != blank %}
      <div id="watermark">
        <img width="120px" src="{{ section.settings.logo | img_url: image_size }}"
         srcset="{{ settings.watermark | img_url: '120x' }} 1x, {{ settings.watermark | img_url: '240x' }} 2x"
         itemprop="logo"
         alt="Watermark">
    </div>
    {% endif %}
    <div id="social">
      <div class="social-block desktop-1">
        <h3>Contact Us</h3>
        <ul>
          <li><a target="_blank" href="mailto: Sales@Hunting-Season.com">Sales@Hunting-Season.com</a></li>
          <li><a target="_blank" href="mailto: Press@Hunting-Season.com">Press@Hunting-Season.com</a></li>
        </ul>
      </div>
      <div class="social-block desktop-3">
        <h3>Instagram</h3>
        {% assign instagram_split = {{settings.social_instagram_link | split: '.com/'}} %}
        <div><a href="{{settings.social_instagram_link}}" target="_blank">@{{instagram_split[1]}}</a></div>
      </div>
      <div class="social-block desktop-2">
        <h3>Keep In Touch</h3>
        {% section 'signup' %}
      </div>
    </div>
  </div>
  <div id="copyright">
    &copy; {{ shop.name }} {{ 'now' | date: "%Y" }}
  </div>
</div>
